footer {
  padding: 70px 0px;
  background: $color1;

  .footer-content-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px 0px;

    h2 {
      color: $white;
      font-size: 40px;
      font-weight: 600;
      letter-spacing: 3px;
    }
    p {
      color: $white;
      margin: 0px;
    }
    a {
      color: $white;
      text-decoration: none;
    }
    img {
      height: 53px;
      width: auto;
    }
  }
  .under-footer-container {
    padding-top: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    a {
      color: $white;
      text-decoration: none;
      font-family: $font2;
      text-transform: uppercase;
    }
  }
}
